.email {
    padding: 0;
}

.form {
    max-width: 500px;
    margin: 0 auto 100px;
    background-image: linear-gradient(to left top, #5175a463, #2f79a4);
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    padding: 40px;
    border-radius: 10px;
}

@media all and (max-width: 576px) {
    .form {
        width: 100%;
        padding: 25px;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form p {
    font-size: 24px;
    font-weight: 700;
}

form label {
    font-weight: 600;
}

form input {
    margin: 5% 0;
    height: 40px;
    padding: 2%;
}

form textarea {
    height: 100px;
    padding: 2%;
    margin: 5% 0;
}

input[type="submit"] {
    border-radius: 5px;
    border: 0;
}

.success-message {
    text-align: center;
    font-weight: 700;
}